
    /* Primary: Light Opale */
    $primary-100: #F2FCFF;
    $primary-200: #EAFBFF;
    $primary-300: #DFF9FC;
    $primary-400: #D2F4F6;
    $primary-500: #C0EAEB;
    $primary-600: #83BAB7;
    $primary-700: #588884;
    $primary-800: #365752;
    $primary-900: #182623;

    /* Accent: Singapore Orchid */
    $accent-100: #FCF2FF;
    $accent-200: #EBC0FF;
    $accent-300: #D48DFD;
    $accent-400: #B559FA;
    $accent-500: #9027F2;
    $accent-600: #5F0DBF;
    $accent-700: #3A038C;
    $accent-800: #1F0059;
    $accent-900: #0B0026;

    /* Neutral */
    $neutral-100: #FAFCFC;
    $neutral-200: #EAEFF0;
    $neutral-300: #DBE3E4;
    $neutral-400: #CCD7D8;
    $neutral-500: #BECCCC;
    $neutral-600: #96A3A2;
    $neutral-700: #6F7978;
    $neutral-800: #48504E;
    $neutral-900: #222625;
    